body{
    background-image: url(bg1.jpg);
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
}
h1,h2,h3{
    color: white;
    font-family: 'Trebuchet MS';
    text-align: center;
}
div{
    position: relative;
    margin: auto;
}
img{
    position: absolute;
}
hr{
    width: 90%;
}



.main{
    width: 90%;
    height: 30vw;
}
.main3{
    height: 25vw;
}
.main4{
    height: 35vw;
}



.info{
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info1{
    border-radius: 5%;
    width: 230px;
    height: fit-content;
    border: 3px solid white;
    color: white;
    font-family: 'Trebuchet MS';
    padding: 5px;;
}



.ship1{
    width: 5%;
    animation: ship1 10s infinite normal;
    z-index: 10;
}
.ast{
    width: 8%;
    animation: ast 10s infinite normal;
    z-index: 1;
}
.ast2{
    animation: none;
}
.suns1{
    width: 7%;
    animation: suns1 8s infinite normal;
}
.suns2{
    width: 12%;
    animation: suns2 8s infinite normal;
}
.eng{
    width: 10%;
    animation: eng 8s infinite normal;
}
.bomb{
    width: 3%;
    animation: bomb 10s infinite normal;
    z-index: 10;
}
.exp{
    width: 8%;
    left: 47%;
    top: 10vw;
    animation: exp 10s infinite normal;
    z-index: 20;
}
.ast2{
    width: 10%;
    left: 70%;
}
.ship2{
    width: 20%;
    left: 15%;
}
.ar1{
    width: 4%;
    left: 73%;
    top: 10vw;
    animation: arr 1s infinite alternate;
}
.ar2{
    width: 9%;
    left: 60%;
    top: 2vw;
    animation: arr 1s infinite alternate;
}



.footer{
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS';
    margin-top: 50px;
    margin-bottom: 50px;
}
.but1{
    color: white;
    font-family: 'Trebuchet MS';
    position: fixed;
    right: 5%;
    bottom: 5%;
}



@keyframes ast{
    0%{left: 0%; top: 0vw;}
    50%{left: 50%; top: 10vw;}
    100%{left: 90%; top: 0vw;}
}
@keyframes ship1{
    0%{left: 0%; top: 25vw;}
    50%{left: 50%; top: 14vw;}
    100%{left: 50%; top: 14vw;}
}
@keyframes suns1{
    0%{left: 1%;}
    100%{left: 92%;}
}
@keyframes suns2{
    0%{left: -2%; top: 7vw;}
    100%{left: 90%; top: 20vw;}
}
@keyframes eng{
    0%{left: 0%; top: 0vw;}
    100%{left: 90%; top: 15vw;}
}
@keyframes bomb{
    0%{left: 0%; top: 32vw;}
    50%{left: 50%; top: 14vw; opacity: 1;}
    51%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes exp{
    0%{opacity: 0;}
    41%{opacity: 0; transform: scale(0.5);}
    55%{opacity: 1; transform: scale(3);}
    56%{opacity: 0}
    100%{opacity: 0;}
}
@keyframes arr{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
