body{
	padding-left: 40px;
	padding-right: 40px;
	background-image: url(Background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}
div{
	background-color: #98b0ffb2;
	margin: auto;
	width: 90%;
	padding: 20px;
}
h1{
	color: #191970;
	text-align: center;
	font-family: Arial;
	text-shadow: #000047 1px 1px 1px;
}
h2{
	color: #00008B;
	text-align: center;
	font-family: Arial;
}
h3{
	font-family: Arial;
	font-style: italic;
}
h4,th{
	text-align: center;
}
th{
	font-size: 20px;
}
h5{
	text-align: center;
	font-family: Arial;
}
a{
	text-decoration: none;
	color: white;
}
dt{
	font-weight: bold;
}
hr{
	width: 80%;
}
.td1{
	vertical-align: top;
}
.img1{
	height: 200px;
}
.img2{
	text-align: center;
}
.img3_1{
	width: 300px;
	box-shadow: #2c2c2c 7px 3px 5px;
}
.img3_2{
	text-align: center;
}
.img4_1{
	height: 200px;
	margin-left: 1000px;
	position: fixed;
}
.h31{
	text-align: left;
}
.colont{
	background-color: #000764d0;
	width: 100%;
	height: 80px;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	border-collapse: collapse;
}
.table1{
	margin: auto;
	border: 2px solid;
	border-collapse: collapse;
	padding:5px;
}
.table1_2{
	margin: auto;
	border: 2px solid;
	border-collapse: collapse;
}
.table1:hover{
	background-color: #98b0ff;
}
.table2{
	margin: auto;
	border: 2px solid;
	border-collapse: collapse;
	padding:5px;
	background-color: #7a99ff8f;
}
.table2:hover{
	background-color: #b0ffd8;
}
.divbottom{
	margin: auto;
	border-radius: 50%;
	background-color: #003a5c;
	color: #ffffff;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.divbottom:hover{
	background-color: #ffffff;
	color: #003a5c;
}
.divresource{
	margin: auto;
	width: 300px;
	text-align: center;
	background-color: #000b727a;
}
.divresource:hover{
	background-color: #0006387a;
}
.h41{
	text-align: left;
}
