body{
    background-color: #47ff75;
}

.m1{
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
}
.oleg{
    display: block;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5%;
}
.hm{
    text-align: center;
    color: #004411;
    font-family: 'Franklin Gothic Medium';
    font-size: 70px;
}
.fl1{
    position: fixed;
    right: 0px;
    top: 0px;
}
.fl2{
    position: fixed;
    left: 0px;
    top: 0px;
    transform: scaleX(-1);
}
.aud1{
    display: block;
    margin: auto;
}
.vid1{
    display: block;
    margin: auto;
    margin-top: 40px;
}